<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATrwNx7qWBfiCHd0yn9jlXncSeT-flEH0</string>
	<key>GCM_SENDER_ID</key>
	<string>996186888822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBlocContact</string>
	<key>PROJECT_ID</key>
	<string>minnews-83ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>minnews-83ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996186888822:ios:551f055e44bbb973ad9d57</string>
</dict>
</plist>